# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
backend/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Node
node_modules/
.next/

# Environment
.env
.venv

# VSCode
.vscode/
